{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}Simulatore{% endblock %}
{% block nav_class_home %}active{% endblock %}
{% block nav_class_simulatore %}inactive{% endblock %}
{% block nav_class_carma %}inactive{% endblock %}
{% block intestazione %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3>{% trans "Sign Out" %}</h3>
        <p>{% trans 'Sei sicuro di voler uscire?' %}</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-info">{% trans 'Sign Out' %}</button>
        </form>
    </div>
</div>
{% endblock %}
