{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}Simulatore{% endblock %}
{% block nav_class_home %}active{% endblock %}
{% block nav_class_simulatore %}inactive{% endblock %}
{% block nav_class_carma %}inactive{% endblock %}
{% block intestazione %}
<h1>{% trans "Registrazione" %}</h1>

<p>Per registrarti contatta gli sviluppatori CARMA sul forum <a target="_blank" href="http://www.finanzapertutti.com">www.finanzapertutti.com</a></p></p>
{% endblock %}
