{% extends 'base.html' %}
{% block title %}Simulatore{% endblock %}
{% block nav_class_home %}active{% endblock %}
{% block nav_class_simulatore %}inactive{% endblock %}
<!--{% block nav_class_carma %}inactive{% endblock %}-->
{% block corpo_centrale %}
	<div class="row">
		<div class="col-md-5">
			<div class="tabbable" id="tabs-474851">
				<ul class="nav nav-tabs">
					<li {% if tipo_take != 'take_variabile' %}class="active"{% endif %}>
						<a href="#panel-464241" data-toggle="tab">Take fisso</a>
					</li>
					<li {% if tipo_take == 'take_variabile' %}class="active"{% endif %}>
						<a href="#panel-68911" data-toggle="tab">Take variabile</a>
					</li>
				</ul>
				<div class="tab-content">
                    <div class="tab-pane {% if tipo_take != 'take_variabile' %}active{% endif %}" id="panel-464241">
                        <form role="form" method="post" class="form-horizontal" id="take_singolo">{% csrf_token %}
                        <input type="hidden" value="take_singolo" name="tipo_take">
                        <input type="hidden" id="selectedDate_inizio" name="selectedDate_inizio" {% if request.session.data_inizio %}value="{{ request.session.data_inizio }}"{% else %}value="{{ data_max }}"{% endif %} />
                        <input type="hidden" id="selectedDate_fine" name="selectedDate_fine" {% if request.session.data_fine %}value="{{ request.session.data_fine }}"{% else %}value="{{ data_oggi }}"{% endif %}/>
                            <div class="row">
                                <div class="col-md-12">
                                    {% if not user.is_authenticated %}
                                        <p>La versione gratuita ti permette di simulare a parametri fissi solo per gli ultimi 15 giorni.</p>
                                        <p>Per effettuare simulazioni su date più ampie e a parametri variabili richiedi l'accesso agli sviluppatori.</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="isin">
                                        Titolo
                                    <select class="form-control" name="isin" required>
                                        {% if request.session.isin %}
                                            {% for i,k in isin_conf %}
                                                {% if i == request.session.isin %}
                                                    <option value="{{ i }}" selected>{{ k }}</option>
                                                {% else %}
                                                    <option value="{{ i }}">{{ k }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <option value="" selected disabled>Scegli il titolo</option>
                                            {% for i,k in isin_conf %}
                                                <option value="{{ i }}">{{ k }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_data_inizio">
                                        Data inizio
                                    {% if user.is_authenticated and perms.simulatore.take_fisso %}
                                    <input type="text" class="form-control" name="crea_data_inizio" id="crea_singolo_data_inizio_libero" {% if request.session.data_inizio %}value="{{ request.session.data_inizio }}" {% else %}value="{{ data_oggi }}"{% endif %}>
                                    {% else %}
                                    <input type="text" class="form-control" name="crea_data_inizio" id="crea_singolo_data_inizio_limitato" {% if request.session.data_inizio %}value="{{ request.session.data_inizio }}" {% else %}value="{{ data_max }}"{% endif %}>
                                    {% endif %}
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_data_fine">
                                    Data fine
                                    {% if user.is_authenticated and perms.simulatore.take_fisso %}
                                    <input type="text" class="form-control" name="crea_data_fine" id="crea_singolo_data_fine_libero" {% if request.session.data_fine %}value="{{ request.session.data_fine }}" {% else %}value="{{ data_oggi }}" {% endif %}>
                                    {% else %}
                                    <input type="text" class="form-control" name="crea_data_fine" id="crea_singolo_data_fine_limitato" {% if request.session.data_fine %}value="{{ request.session.data_fine }}" {% else %}value="{{ data_oggi }}"{% endif %}>
                                    {% endif %}
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_limite_inferiore">
                                        Limite inferiore
                                    <input type="number" class="form-control" name="crea_limite_inferiore" required {% if request.session.limite_inferiore %}value="{{ request.session.limite_inferiore }}"{% endif %} placeholder="5.01" step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_limite_superiore">
                                        Limite superiore
                                    <input type="number" class="form-control" name="crea_limite_superiore" required {% if request.session.limite_superiore %}value="{{ request.session.limite_superiore }}"{% endif %} placeholder="10.01" step="0.0001">
                                    </label>
                                    {% if check2 == 'Yes' %}
                                    <small class="help-block" data-fv-for="crea_limite_superiore" data-fv-result="INVALID" style="display: block;">Il limite superiore è stato modificato per essere multiplo di limite inferiore e step</small>
                                    {% endif %}
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="primo_acquisto">
                                        Livello primo acquisto
                                    <input type="number" class="form-control" name="primo_acquisto" required {% if request.session.primo_acquisto %}value="{{ request.session.primo_acquisto }}"{% endif %} placeholder="6.01" step="0.0001">
                                    </label>
                                    {% if check == 'Yes' %}
                                    <small class="help-block" data-fv-for="primo acquisto" data-fv-result="INVALID" style="display: block;">Il primo acquisto è stato modificato per essere multiplo di limite inferiore e step</small>
                                    {% endif %}
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="in carico">
                                        Numero pacchi in carico
                                    <input type="number" class="form-control" name="in_carico" required {% if request.session.in_carico %}value="{{ request.session.in_carico }}"{% endif %} placeholder="20" step="1">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="step">
                                        Step
                                    <input type="number" class="form-control" name="step" required {% if request.session.step %}value="{{ request.session.step }}"{% endif %} placeholder="0.1" step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="take">
                                        Take
                                    <input type="number" class="form-control" name="take" required {% if request.session.take_inizio %}value="{{ request.session.take_inizio }}"{% endif %} placeholder="0.13" step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="quantita_acquisto">
                                        Quantità acquisto
                                    <input type="number" class="form-control" name="quantita_acquisto" required {% if request.session.quantita_acquisto %}value="{{ request.session.quantita_acquisto }}"{% endif %} placeholder="100" step="1">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="quantita_vendita">
                                        Quantità vendita
                                    <input type="number" class="form-control" name="quantita_vendita" required {% if request.session.quantita_vendita %}value="{{ request.session.quantita_vendita }}"{% endif %} placeholder="100" step="1">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_tipo">
                                        Tipo commissioni
                                    <select class="form-control" name="commissioni_tipo" required>
                                        {% if request.session.tipo_commissione %}
                                            {% if request.session.tipo_commissione == 'P' %}
                                        <option value="P" selected>Percentuale</option>
                                        <option value="F">Fissa</option>
                                            {% elif request.session.tipo_commissione == 'F' %}
                                        <option value="P">Percentuale</option>
                                        <option value="F" selected>Fissa</option>
                                            {% endif %}
                                        {% else %}
                                        <option value="P">Percentuale</option>
                                        <option value="F">Fissa</option>
                                        {% endif %}
                                    </select>
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_importo">
                                        Importo commissioni
                                    <input type="number" class="form-control" name="commissioni_importo" required {% if request.session.commissione %}value="{{ request.session.commissione }}" {% else %}value="0.19"{% endif %}  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_min">
                                        Commissioni min
                                    <input type="number" class="form-control" name="commissioni_min" required {% if request.session.min_commissione %}value="{{ request.session.min_commissione }}" {% else %}value="1"{% endif %}  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_max">
                                        Commissioni max
                                    <input type="number" class="form-control" name="commissioni_max" required {% if request.session.max_commissione %}value="{{ request.session.max_commissione }}" {% else %}value="18"{% endif %}  step="0.0001">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-info" name="bottone" value="guida" id="bottone_guida">
                                    Guida
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary" name="bottone" value="crea">
                                    Crea tappeto
                                    </button>
                                </div>
                                {% if bottone == 'crea' and tipo_take == 'take_singolo' %}
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-success" name="bottone" value="simula">
                                    Simula
                                    </button>
                                </div>
                                {% endif %}
                                <div class="col-md-3">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane {% if tipo_take == 'take_variabile' %}active{% endif %}" id="panel-68911">
						{% if user.is_authenticated %}
                        {% if perms.simulatore.take_variabile %}
                        <form role="form" method="post" class="form-horizontal" id="take_variabile">{% csrf_token %}
                        <input type="hidden" value="take_variabile" name="tipo_take">
                        <input type="hidden" id="selectedDate_variabile_inizio" name="selectedDate_variabile_inizio" {% if request.session.data_inizio %}value="{{ request.session.data_inizio }}"{% else %}value="{{ data_max }}"{% endif %} />
                        <input type="hidden" id="selectedDate_variabile_fine" name="selectedDate_variabile_fine" {% if request.session.data_fine %}value="{{ request.session.data_fine }}"{% else %}value="{{ data_oggi }}"{% endif %}/>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="isin">
                                        Titolo
                                    <select class="form-control" name="isin" required>
                                        {% if request.session.isin %}
                                            {% for i,k in isin_conf %}
                                                {% if i == request.session.isin %}
                                                    <option value="{{ i }}" selected>{{ k }}</option>
                                                {% else %}
                                                    <option value="{{ i }}">{{ k }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <option value="" disabled>Scegli il titolo</option>
                                            {% for i,k in isin_conf %}
                                                <option value="{{ i }}">{{ k }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_data_inizio">
                                        Data inizio
                                    <input type="text" class="form-control" name="crea_data_inizio" id="crea_variabile_data_inizio_libero" required {% if request.session.data_inizio %}value="{{ request.session.data_inizio }}" {% else %}value="{{ data_oggi }}"{% endif %}>
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_data_fine">
                                    Data fine
                                    <input type="text" class="form-control" name="crea_data_fine" id="crea_variabile_data_fine_libero" required {% if request.session.data_fine %}value="{{ request.session.data_fine }}" {% else %}value="{{ data_oggi }}"{% endif %}>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_limite_inferiore">
                                        Limite inferiore
                                    <input type="number" class="form-control" name="crea_limite_inferiore" required {% if request.session.limite_inferiore %}value="{{ request.session.limite_inferiore }}"{% endif %} placeholder="5.01" step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_limite_superiore">
                                        Limite superiore
                                    <input type="number" class="form-control" name="crea_limite_superiore" required {% if request.session.limite_superiore %}value="{{ request.session.limite_superiore }}"{% endif %}placeholder="10.01"  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="primo_acquisto">
                                        Livello primo acquisto
                                    <input type="number" class="form-control" name="primo_acquisto" required {% if request.session.primo_acquisto %}value="{{ request.session.primo_acquisto }}"{% endif %}placeholder="6.06"  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="in carico">
                                        Numero pacchi in carico
                                    <input type="number" class="form-control" name="in_carico" required {% if request.session.in_carico %}value="{{ request.session.in_carico }}"{% endif %}placeholder="20" step="1">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="step">
                                        Step
                                    <input type="number" class="form-control" name="step" required {% if request.session.step %}value="{{ request.session.step }}"{% endif %}placeholder="0.05"  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="take_inizio">
                                        Take iniziale
                                    <input type="number" class="form-control" name="take_inizio" required {% if request.session.take_inizio %}value="{{ request.session.take_inizio }}"{% endif %} placeholder="0.1" step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="take_fine">
                                        Take finale
                                    <input type="number" class="form-control" name="take_fine" required {% if request.session.take_fine %}value="{{ request.session.take_fine }}"{% endif %} placeholder="0.2" step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="take">
                                        Incremento del take
                                    <input type="number" class="form-control" name="take_incremento" required {% if request.session.take_incremento %}value="{{ request.session.take_incremento }}"{% endif %} placeholder="0.01" step="0.0001">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="quantita_acquisto">
                                        Quantità acquisto
                                    <input type="number" class="form-control" name="quantita_acquisto" required {% if request.session.quantita_acquisto %}value="{{ request.session.quantita_acquisto }}"{% endif %}placeholder="100"  step="1">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="quantita_vendita">
                                        Quantità vendita
                                    <input type="number" class="form-control" name="quantita_vendita" required {% if request.session.quantita_vendita %}value="{{ request.session.quantita_vendita }}"{% endif %}placeholder="100" step="1">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_tipo">
                                        Tipo commissioni
                                    <select class="form-control" name="commissioni_tipo" required>
                                        {% if request.session.tipo_commissione %}
                                            {% if request.session.tipo_commissione == 'P' %}
                                        <option value="P" selected>Percentuale</option>
                                        <option value="F">Fissa</option>
                                            {% elif request.session.tipo_commissione == 'F' %}
                                        <option value="P">Percentuale</option>
                                        <option value="F" selected>Fissa</option>
                                            {% endif %}
                                        {% else %}
                                        <option value="P">Percentuale</option>
                                        <option value="F">Fissa</option>
                                        {% endif %}
                                    </select>
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_importo">
                                        Importo commissioni
                                    <input type="number" class="form-control" name="commissioni_importo" required {% if request.session.commissione %}value="{{ request.session.commissione }}" {% else %}value="0.19"{% endif %} step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_min">
                                        Commissioni min
                                    <input type="number" class="form-control" name="commissioni_min" required {% if request.session.min_commissione %}value="{{ request.session.min_commissione }}" {% else %}value="1"{% endif %} step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_max">
                                        Commissioni max
                                    <input type="number" class="form-control" name="commissioni_max" required {% if request.session.max_commissione %}value="{{ request.session.max_commissione }}" {% else %}value="18"{% endif %} step="0.0001">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-info" name="bottone" value="guida" id="bottone_guida_2">
                                    Guida
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary" name="bottone" value="crea">
                                    Crea tappeto
                                    </button>
                                </div>
                                {% if bottone == 'crea' and tipo_take == 'take_variabile' %}
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-success" name="bottone" value="simula">
                                    Simula
                                    </button>
                                </div>
                                {% endif %}
                                <div class="col-md-3">
                                </div>
                            </div>
                        </form>
                        {% else %}
                         <div class="row">
                             <div class="col-md-12 form-group-sm">
                                 <br/>
                                 <p>Non hai i permessi per eseguire simulazioni con parametri variabili. Contatta gli sviluppatori per richiedere l'accesso.</p>
                            </div>
                         </div>
                        {% endif %}
                        {% else %}
                        <div class="row">
                            <div class="col-md-12 form-group-sm">
                                <br/>
                                <p>Non sei loggato. Loggati o registrati per poter effettuare simulazioni con parametri variabili.</p>
                            </div>
                         </div>
                        {% endif %}
					</div>
				</div>
			</div>
            <div class="col-md-6" {{ mostra_risultati }}>
                <br />
			    {% for singolo_tappeto in tappeto %}
                    <div class="panel panel-success" {% if not singolo_tappeto.take == best_take %}style="display: none"{% endif %} id="dettagli_simulazione_{{ singolo_tappeto.take|cut:"." }}">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Risultato simulazione {{ isin }}</strong></h3>
                </div>
                <table class="table table-condensed table-hover stripe table-sommario-tappeto">
                    <tbody>
                        <tr>
                            <td>
                                Storico
                            </td>
                            <td>
                                {{ data_inizio }} - {{ data_fine }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Take
                            </td>
                            <td>
                                &euro; {{ singolo_tappeto.take }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Valore max teorico tappeto
                            </td>
                            <td>
                                &euro; {{ singolo_tappeto.valore_carico }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Valore max reale tappeto
                            </td>
                            <td>
                                &euro; {{ singolo_tappeto.valore_max }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Valore finale tappeto
                            </td>
                            <td>
                                &euro; {{ singolo_tappeto.valore_attuale }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Acquisti
                            </td>
                            <td>
                                {{ singolo_tappeto.nr_acquisti }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Vendite
                            </td>
                            <td>
                                {{ singolo_tappeto.nr_vendite }}
                            </td>
                        </tr>-
                        <tr>
                            <td>
                                Gain
                            </td>
                            <td>
                                &euro; {{ singolo_tappeto.gain }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Commissioni
                            </td>
                            <td>
                                &euro; {{ singolo_tappeto.commissioni }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Profitto
                            </td>
                            <td>
                                {{ singolo_tappeto.profitto }}
                            </td>
                        </tr>
                        <tr class="success">
                            <td>
                                <strong>Rendimento reale</strong>
                            </td>
                            <td>
                                <strong>{{ singolo_tappeto.rendimento }}%</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                {% endfor %}
            </div>
            <div class="col-md-6" {{ mostra_risultati }}>
                {% if bottone == 'simula' and tipo_take == 'take_variabile' %}
                    <br />
                    <p>Nella tabella in alto a destra trovi il risultato della simulazione a take variabile. Ogni riga corrisponde a un tappeto con un take diverso.</p>
                    <p>La tabella è ordinata per rendimento, quindi la prima riga in alto ti mostra il tappeto migliore.</p>
                    <p>Se clicchi sui nomi delle colonne della tabella puoi cambiare l'ordine della tabella.</p>
                    <p><strong>Clicca su una riga della tabella in alto a destra per aggiornare il riepilogo del tappeto qui accanto e l'elenco delle operazioni qui sotto.</strong></p>
                {% elif bottone == 'crea' and tipo_take == 'take_variabile' %}
                    <br />
                    <p>Nella tabella in alto a destra trovi la struttura del tappeto che hai appena creato.</p>
                    <p>A titolo di esempio è riportato solo il tappeto con il take iniziale della simulazione.</p>
                    <p><strong>Se la struttura corrisponde a quello che vuoi simulare, clicca sul bottone simula per avviare la simulazione</strong></p>
                    <p>altrimenti modifica i parametri e clicca sul bottone crea tappeto.</p>
                {% elif bottone == 'crea' and tipo_take == 'take_singolo' %}
                    <br />
                    <p>Nella tabella in alto a destra trovi la struttura del tappeto che hai appena creato.</p>
                    <p><strong>Se la struttura corrisponde a quello che vuoi simulare, clicca sul bottone simula per avviare la simulazione</strong></p>
                    <p>altrimenti modifica i parametri e clicca sul bottone crea tappeto.</p>
                {% endif %}
            </div>
		</div>
		<div class="col-md-7">
            <div class="panel panel-success" id="guida" style="display: none">
                <div class="panel-heading">Guida<button class="btn btn-default pull-right" type="button" id="bottone_guida_chiudi">Chiudi Guida</button>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <table class="table table-hover stripe">
                            <thead>
                                <tr>
                                    <th>
                                        Nome campo
                                    </th>
                                    <th>
                                        Spiegazione
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Titolo</strong>
                                    </td>
                                    <td>
                                        Scegli dal menù a tendina il titolo su cui vuoi effettuare la simulazione.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Data inizio</strong>
                                    </td>
                                    <td>
                                        La data di inizio della simulazione nel formato gg/mm/aaaa.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Data fine</strong>
                                    </td>
                                    <td>
                                        La data di fine della simulazione nel formato gg/mm/aaaa.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Limite inferiore</strong>
                                    </td>
                                    <td>
                                        Il limite inferiore del tappeto.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Limite superiore</strong>
                                    </td>
                                    <td>
                                        Il limite superiore del tappeto. Corrisponde al prezzo di vendita dell'ultimo pacco.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Livello primo acquisto</strong>
                                    </td>
                                    <td>
                                        Al di sotto di questo pacco (incluso), i pacchi saranno in stato Acquisto. Al di sopra saranno in stato vendita.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Numero pacchi in carico</strong>
                                    </td>
                                    <td>
                                        Indica quanti pacchi hai in carico nel tuo portafoglio. Ad esempio per un tappeto su FCA con limiti 5-10, step 0.1 e dimensione pacco 100, ipotizziamo che abbia 1000 azioni in portafoglio. Divido le azioni per la dimensione del pacco: 1000/100 = 10. Vuol dire che ho 10 pacchi in carico.
                                        Se il livello primo acquisto è &euro; 6, il simulatore segnerà in carico i pacchi da &euro; 6.1 a &euro; 7.0.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Step</strong>
                                    </td>
                                    <td>
                                        Lo step del tappeto.
                                    </td>
                                </tr>
                                {% if user.is_authenticated and perms.simulatore.take_variabile %}
                                <tr>
                                    <td>
                                        <strong>Take iniziale</strong>
                                    </td>
                                    <td>
                                        Il take da cui vuoi far partire la simulazione a take variabile.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Take finale</strong>
                                    </td>
                                    <td>
                                        Il take a cui vuoi far fermare la simulazione a take variabile.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Incremento del take</strong>
                                    </td>
                                    <td>
                                        La quantità di incremento del take. Ad esempio per simulare tutti i take possibili da &euro; 0.1 a &euro; 0.4, imposto come Take iniziale &euro; 0,1, come Take finale &euro; 0.4 e come incremento &euro; 0.01
                                        Per ogni simulazione puoi simulare al massimo 50 diversi take.
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td>
                                        <strong>Take</strong>
                                    </td>
                                    <td>
                                        Il take del tappeto.
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td>
                                        <strong>Quantità acquisto</strong>
                                    </td>
                                    <td>
                                        La dimensione di acquisto di ogni singolo pacco.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Quantità vendita</strong>
                                    </td>
                                    <td>
                                        La dimensione di vendita di ogni singolo pacco.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Tipo commissioni</strong>
                                    </td>
                                    <td>
                                        Puoi scegliere tra commissioni fisse o percentuali.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Importo commissioni</strong>
                                    </td>
                                    <td>
                                        Tipo commissione fissa --> inserisci il valore in &euro; della commissione fissa.<br/>
                                        Tipo commissione percentuale --> inserisci il valore percentuale della commissione. Ad esempio se la tua commissione è 0.19%, scrivi 0.19.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Commissione minima</strong>
                                    </td>
                                    <td>
                                        Inserici il valore in &euro; minimo della commissione.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Commissione massima</strong>
                                    </td>
                                    <td>
                                        Inserisci il valore in &euro; massimo della commissione.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
			{% if bottone == 'crea' %}
            <table class="table table-fabio table-condensed table-bordered table-hover stripe" id="tabella_tappeto" style="font-size: 10px; text-align: center">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Stato
						</th>
						<th>
							Prezzo&#13;&#10;acquisto
						</th>
						<th>
							Prezzo&#13;&#10;vendita
						</th>
                        <th>
							Quantità&#13;&#10;acquisto
						</th>
                        <th>
							Quantità&#13;&#10;vendita
						</th>
                        <th>
							In carico
						</th>
					</tr>
				</thead>
				<tbody>
					{% for pacco in primo_tappeto.pacchi %}
                    <tr>
						<td>
                            {{ forloop.counter }}
						</td>
						<td>
							{% if pacco.order_type == 'VENAZ' %}VENDITA{% elif pacco.order_type == 'ACQAZ' %}ACQUISTO{% endif %}
						</td>
						<td>
							{{ pacco.buy_price }}
						</td>
						<td>
							{{ pacco.sell_price }}
						</td>
                        <td>
							{{ pacco.quantity_buy }}
						</td>
                        <td>
							{{ pacco.quantity_sell }}
						</td>
                        <td>
							{% if pacco.carica == 1 %}
							    SI
                            {% else %}
                                NO
							{% endif %}
						</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
            {% elif bottone == 'simula' %}
            <h3 class="text-center">
				Risultato simulazioni per {{ isin }}&#13;&#10;Data inizio: {{ data_inizio }} - Data fine: {{ data_fine }}
			</h3>
            <table class="table table-condensed table-bordered table-hover stripe" id="tabella_risultato_simulazione" style="font-size: 12px; text-align: center">
				<thead>
					<tr>
						<th style="padding: 5px 5px; vertical-align: middle">
							Inizio
						</th>
						<th style="padding: 5px 5px; vertical-align: middle">
							Fine
						</th>
						<th style="padding: 5px 5px; vertical-align: middle">
							Primo<br/>acquisto
						</th>
						<th style="padding: 5px 5px; vertical-align: middle">
							Step
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Take
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Quantità<br/>acquisto
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Quantità<br/>vendita
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Acquisti
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Vendite
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Gain
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Commissioni
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Profitto
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Rendimento
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
                            Valore<br/>massimo
                        </th>
					</tr>
				</thead>
				<tbody>
					{% for Tappeto in tappeto %}
                    <tr>
						<td style="padding: 5px 5px">
							{{ Tappeto.limite_inferiore }}
						</td>
						<td style="padding: 5px 5px">
							{{ Tappeto.limite_superiore }}
						</td>
						<td style="padding: 5px 5px">
							{{ Tappeto.primo_acquisto }}
						</td>
						<td style="padding: 5px 5px">
							{{ Tappeto.step }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.take }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.quantita_acquisto }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.quantita_vendita }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.nr_acquisti }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.nr_vendite }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.gain }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.commissioni }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.profitto }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.rendimento }}%
						</td>
                        <td style="padding: 5px 5px">
                            {{ Tappeto.valore_max }}
                        </td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
            {% endif %}
		</div>
	</div>
	<div class="row" {% if bottone != 'simula' %} hidden {% endif %}>
		{% for singolo_tappeto in tappeto %}
        <div class="col-md-6" {% if not singolo_tappeto.take == best_take %}style="display: none"{% endif %} id="dettagli_operazioni_{{ singolo_tappeto.take|cut:"." }}">
			<h4 class="text-center">
				Dettaglio operazioni per take &euro; {{ singolo_tappeto.take }}
			</h4>
			<table class="table table-condensed table-hover stripe table-fabio" style="font-size: 10px; text-align: center">
				<thead>
					<tr>
						<th>
							Data
						</th>
						<th>
							Ora
						</th>
						<th>
							Pacco
						</th>
                        <th>
							Operazione
						</th>
						<th>
							Prezzo
						</th>
                        <th>
							Quantità
						</th>
                        <th>
							Gain
						</th>
                        <th>
							Commissioni
						</th>
                        <th>
							Profitto
						</th>
					</tr>
				</thead>
				<tbody>
					{% for item in singolo_tappeto.operazioni %}
                    <tr>
						<td>
							{{ item.data }}
						</td>
						<td>
							{{ item.ora }}
						</td>
						<td>
							&euro; {{ item.prezzo_teorico }}
						</td>
						<td>
							{% if item.tipo == 'VENAZ' %}VENDITA{% elif item.tipo == 'ACQAZ' %}ACQUISTO{% endif %}
						</td>
                        <td>
							&euro; {{ item.prezzo }}
						</td>
                        <td>
							{{ item.quantita }}
						</td>
                        <td>
							&euro; {{ item.gain }}
						</td>
                        <td>
							&euro; {{ item.commissioni }}
						</td>
                        <td>
							&euro; {{ item.profitto }}
						</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
        {% endfor %}
		<div class="col-md-3">
			{% if take_array_size > 1 %}
            <table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>
							Data
						</th>
						<th>
							Miglior take
						</th>
					</tr>
				</thead>
				<tbody>
					{% for item in take_array %}
                    <tr>
						<td>
							1
						</td>
						<td>
							{{ item }}
						</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
            {% endif %}
		</div>
	</div>
    <script type="text/javascript">

   $(document).ready(function() {
   $('#take_singolo').formValidation({
        // I am validating Bootstrap form
        framework: 'bootstrap',

        // Feedback icons
        icon: {
            valid: 'checkmark icon',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },

        // List of fields and their validation rules
        fields: {
            crea_data_inizio:{
                validators: {
                    notEmpty: {
                        message: "La data inizio è obbligatoria"
                    }
                }
            },
            selectedDate_inizio: {
                // The hidden input will not be ignored
                excluded: false,
                validators: {
                    notEmpty: {
                        message: 'La data inizio è obbligatoria'
                    },
                    date: {
                        format: 'DD/MM/YYYY',
                        message: 'La data inizio non è in un formato valido gg/mm/aaaa'
                    }
                }
            },
            selectedDate_fine: {
                // The hidden input will not be ignored
                excluded: false,
                validators: {
                    notEmpty: {
                        message: 'La data fine è obbligatoria'
                    },
                    date: {
                        format: 'DD/MM/YYYY',
                        min: 'selectedDate_inizio',
                        message: 'La data fine deve essere maggiore della data inizio'
                    }
                }
            },
            crea_quantita_acquisto: {
                validators: {
                    between: {
                        min: 1,
                        message: 'La quantità in acquisto deve essere almeno uno'
                    }
                }
            },
            crea_quantita_vendita: {
                validators: {
                    between: {
                        min: 1,
                        message: 'La quantità in vendita deve essere almeno uno'
                    }
                }
            },
            crea_primo_acquisto: {
                validators: {
                    between: {
                        min: 'crea_limite_inferiore',
                        max: 'crea_limite_superiore',
                        message: 'Il primo acquisto deve essere tra il limite inferiore e superiore'
                    }
                }
            }
        }
   });
   $('#take_variabile').formValidation({
        // I am validating Bootstrap form
        framework: 'bootstrap',

        // Feedback icons
        icon: {
            valid: 'checkmark icon',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        live: 'submitted',
        // List of fields and their validation rules
        fields: {
            crea_data_fine:{
                validators: {
                    notEmpty: {
                        message: "La data inizio è obbligatoria"
                    }
                }
            },
            selectedDate_variabile_inizio: {
                // The hidden input will not be ignored
                excluded: false,
                validators: {
                    notEmpty: {
                        message: 'La data inizio è obbligatoria'
                    },
                    date: {
                        format: 'DD/MM/YYYY',
                        message: 'La data inizio non è in un formato valido gg/mm/aaaa'
                    }
                }
            },
            selectedDate_variabile_fine: {
                // The hidden input will not be ignored
                excluded: false,
                validators: {
                    notEmpty: {
                        message: 'La data fine è obbligatoria'
                    },
                    date: {
                        format: 'DD/MM/YYYY',
                        min: 'selectedDate_variabile_inizio',
                        message: 'La data fine deve essere maggiore della data inzio'
                    }
                }
            },
            crea_quantita_acquisto: {
                validators: {
                    between: {
                        min: 1,
                        message: 'La quantità in acquisto deve essere almeno uno'
                    }
                }
            },
            crea_quantita_vendita: {
                validators: {
                    between: {
                        min: 1,
                        message: 'La quantità in vendita deve essere almeno uno'
                    }
                }
            },
            crea_primo_acquisto: {
                validators: {
                    between: {
                        min: 'crea_limite_inferiore',
                        max: 'crea_limite_superiore',
                        message: 'Il primo acquisto deve essere tra il limite inferiore e superiore'
                    }
                }
            },
            take_fine: {
                verbose: false,
                validators: {
                    greaterThan: {
                        value: 'take_inizio',
                        message: 'Il take finale deve essere maggiore del take iniziale'
                    },
                    callback: {
                            message: 'Puoi simulare al massimo 50 tappeti. Modifica i take iniziale e finale o l\'incremento',
                            callback: function (value, validator, $field) {
                                var take_inizio = validator.getFieldElements('take_inizio').val();
                                var take_fine = validator.getFieldElements('take_fine').val();
                                var take_incremento = validator.getFieldElements('take_incremento').val();
                                var numero_tappeti = (take_fine - take_inizio) / take_incremento;

                                if (numero_tappeti > 50) {
                                    return false;
                                }
                                validator.updateStatus('take_fine', 'VALID', 'callback');
                                //str = JSON.stringify(numero_tappeti);
                                //str = JSON.stringify(take_fine, null, 4); // (Optional) beautiful indented output.
                                //console.log(str); // Logs output to dev tools console.
                                //alert(str); // Displays output using window.alert()

                                return true;
                            }
                        }
                    }
            }
        }
    });
   });

</script>
{% endblock %}