{% extends 'base.html' %}
{% block title %}Simulatore{% endblock %}
{% block nav_class_home %}inactive{% endblock %}
{% block nav_class_simulatore %}active{% endblock %}
{% block nav_class_carma %}inactive{% endblock %}
{% block corpo_centrale %}
	<div class="row">
		<div class="col-md-5">
			<div class="tabbable" id="tabs-474851">
				<ul class="nav nav-tabs">
					<li {% if tipo_take != 'take_variabile' %}class="active"{% endif %}>
						<a href="#panel-464241" data-toggle="tab">Take fisso {{ perms.simulatore.take_fisso }}</a>
					</li>
					<li {% if tipo_take == 'take_variabile' %}class="active"{% endif %}>
						<a href="#panel-68911" data-toggle="tab">Take variabile {{ perms.simulatore.take_variabile }}</a>
					</li>
				</ul>
				<div class="tab-content">
                    <div class="tab-pane {% if tipo_take != 'take_variabile' %}active{% endif %}" id="panel-464241">
                        <form role="form" method="post" class="form-horizontal" id="take_singolo">{% csrf_token %}
                        <input type="hidden" value="take_singolo" name="tipo_take">
                            <div class="row">
                                <div class="col-md-12">
                                    {% if not user.is_authenticated %}
                                        <p>La versione gratuita ti permette di simulare a parametri fissi solo per gli ultimi 15 giorni.</p>
                                        <p>Per effettuare simulazioni su date più ampie e a parametri variabili richiedi l'accesso agli sviluppatori.</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="isin">
                                        Titolo
                                    <select class="form-control" name="isin" required>
                                        {% if bottone == 'crea' or bottone == 'simula' %}
                                            {% for i,k in isin_conf %}
                                                {% if i == isin %}
                                                    <option value="{{ i }}" selected>{{ k }}</option>
                                                {% else %}
                                                    <option value="{{ i }}">{{ k }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <option value="" selected disabled>Scegli il titolo</option>
                                            {% for i,k in isin_conf %}
                                                <option value="{{ i }}">{{ k }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_data_inizio">
                                        Data inizio
                                    {% if user.is_authenticated and perms.simulatore.take_fisso %}
                                    <input type="date" class="form-control" name="crea_data_inizio" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ data_inizio_2 }}" {% else %}value="2016-08-01"{% endif %}>
                                    {% else %}
                                    <input type="date" class="form-control" name="crea_data_inizio" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ data_inizio_2 }}" {% else %}value="{{ data_max }}"{% endif %} min="{{ data_max }}" max="{{ data_oggi }}">
                                    {% endif %}
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_data_fine">
                                    Data fine
                                    {% if user.is_authenticated and perms.simulatore.take_fisso %}
                                    <input type="date" class="form-control" name="crea_data_fine" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ data_fine_2 }}" {% else %}value="2016-09-01"{% endif %}>
                                    {% else %}
                                    <input type="date" class="form-control" name="crea_data_fine" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ data_fine_2 }}" {% else %}value="{{ data_oggi }}"{% endif %} min="{{ data_max }}" max="{{ data_oggi }}">
                                    {% endif %}
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_limite_inferiore">
                                        Limite inferiore
                                    <input type="number" class="form-control" name="crea_limite_inferiore" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.limite_inferiore }}" {% else %}value="5.01"{% endif %} step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_limite_superiore">
                                        Limite superiore
                                    <input type="number" class="form-control" name="crea_limite_superiore" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.limite_superiore }}" {% else %}value="10.01"{% endif %} step="0.0001">
                                    </label>
                                    {% if check2 == 'Yes' %}
                                    <small class="help-block" data-fv-for="crea_limite_superiore" data-fv-result="INVALID" style="display: block;">Il limite superiore è stato modificato per essere multiplo di limite inferiore e step</small>
                                    {% endif %}
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="primo_acquisto">
                                        Livello primo acquisto
                                    <input type="number" class="form-control" name="primo_acquisto" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.primo_acquisto }}" {% else %}value="6.06"{% endif %} step="0.0001">
                                    </label>
                                    {% if check == 'Yes' %}
                                    <small class="help-block" data-fv-for="primo acquisto" data-fv-result="INVALID" style="display: block;">Il primo acquisto è stato modificato per essere multiplo di limite inferiore e step</small>
                                    {% endif %}
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="in carico">
                                        Numero pacchi in carico
                                    <input type="number" class="form-control" name="in_carico" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.in_carico }}" {% else %}value="20"{% endif %} step="1">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="step">
                                        Step
                                    <input type="number" class="form-control" name="step" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.step }}" {% else %}value="0.05"{% endif %} step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="take">
                                        Take
                                    <input type="number" class="form-control" name="take" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.take }}" {% else %}value="0.13"{% endif %} step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="quantita_acquisto">
                                        Quantità acquisto
                                    <input type="number" class="form-control" name="quantita_acquisto" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.quantita_acquisto }}" {% else %}value="100"{% endif %} step="1">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="quantita_vendita">
                                        Quantità vendita
                                    <input type="number" class="form-control" name="quantita_vendita" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.quantita_vendita }}" {% else %}value="100"{% endif %} step="1">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_tipo">
                                        Tipo commissioni
                                    <select class="form-control" name="commissioni_tipo" required>
                                        {% if bottone == 'crea' or bottone == 'simula' %}
                                            {% if tipo_commissione == 'P' %}
                                        <option value="P" selected>Percentuale</option>
                                        <option value="F">Fissa</option>
                                            {% elif tipo_commissione == 'F' %}
                                        <option value="P">Percentuale</option>
                                        <option value="F" selected>Fissa</option>
                                            {% endif %}
                                        {% else %}
                                        <option value="P">Percentuale</option>
                                        <option value="F">Fissa</option>
                                        {% endif %}
                                    </select>
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_importo">
                                        Importo commissioni
                                    <input type="number" class="form-control" name="commissioni_importo" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.commissione }}" {% else %}value="0.0019"{% endif %}  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_min">
                                        Commissioni min
                                    <input type="number" class="form-control" name="commissioni_min" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.min_commissione }}" {% else %}value="1"{% endif %}  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_max">
                                        Commissioni max
                                    <input type="number" class="form-control" name="commissioni_max" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.max_commissione }}" {% else %}value="18"{% endif %}  step="0.0001">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-default" name="bottone" value="crea">
                                    Crea tappeto
                                    </button>
                                </div>
                                {% if bottone == 'crea' and tipo_take == 'take_singolo' %}
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-default" name="bottone" value="simula">
                                    Simula
                                    </button>
                                </div>
                                {% endif %}
                                <div class="col-md-3">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane {% if tipo_take == 'take_variabile' %}active{% endif %}" id="panel-68911">
						{% if user.is_authenticated %}
                        {% if perms.simulatore.take_variabile %}
                        <form role="form" method="post" class="form-horizontal" id="take_variabile">{% csrf_token %}
                        <input type="hidden" value="take_variabile" name="tipo_take">
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="isin">
                                        Titolo
                                    <select class="form-control" name="isin" required>
                                        {% if bottone == 'crea' or bottone == 'simula' %}
                                            {% for i,k in isin_conf %}
                                                {% if i == isin %}
                                                    <option value="{{ i }}" selected>{{ k }}</option>
                                                {% else %}
                                                    <option value="{{ i }}">{{ k }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <option value="" disabled>Scegli il titolo</option>
                                            {% for i,k in isin_conf %}
                                                {% if i == 'NL0010877643' %}
                                                    <option value="{{ i }}" selected>{{ k }}</option>
                                                {% else %}
                                                    <option value="{{ i }}">{{ k }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_data_inizio">
                                        Data inizio
                                    <input type="date" class="form-control" name="crea_data_inizio" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ data_inizio_2 }}" {% else %}value="2016-08-01"{% endif %}>
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_data_fine">
                                    Data fine
                                    <input type="date" class="form-control" name="crea_data_fine" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ data_fine_2 }}" {% else %}value="2016-09-01"{% endif %}>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_limite_inferiore">
                                        Limite inferiore
                                    <input type="number" class="form-control" name="crea_limite_inferiore" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.limite_inferiore }}" {% else %}value="5.01"{% endif %}value="5.01"  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="crea_limite_superiore">
                                        Limite superiore
                                    <input type="number" class="form-control" name="crea_limite_superiore" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.limite_superiore }}" {% else %}value="10.01"{% endif %}value="10.01"  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="primo_acquisto">
                                        Livello primo acquisto
                                    <input type="number" class="form-control" name="primo_acquisto" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.primo_acquisto }}" {% else %}value="6.06"{% endif %}value="6.06"  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="in carico">
                                        Numero pacchi in carico
                                    <input type="number" class="form-control" name="in_carico" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.in_carico }}" {% else %}value="20"{% endif %}value="20" step="1">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="step">
                                        Step
                                    <input type="number" class="form-control" name="step" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.step }}" {% else %}value="0.05"{% endif %}value="0.05"  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="take_inizio">
                                        Take iniziale
                                    <input type="number" class="form-control" name="take_inizio" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ take_inizio }}" {% else %}value="0.1"{% endif %}step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="take_fine">
                                        Take finale
                                    <input type="number" class="form-control" name="take_fine" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ take_fine }}" {% else %}value="0.11"{% endif %}step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="take">
                                        Incremento del take
                                    <input type="number" class="form-control" name="take_incremento" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ take_incremento }}" {% else %}value="0.01"{% endif %}step="0.0001">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="quantita_acquisto">
                                        Quantità acquisto
                                    <input type="number" class="form-control" name="quantita_acquisto" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.quantita_acquisto }}" {% else %}value="100"{% endif %}value="100"  step="1">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="quantita_vendita">
                                        Quantità vendita
                                    <input type="number" class="form-control" name="quantita_vendita" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.quantita_vendita }}" {% else %}value="100"{% endif %}value="100" step="1">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_tipo">
                                        Tipo commissioni
                                    <select class="form-control" name="commissioni_tipo" required>
                                        {% if bottone == 'crea' or bottone == 'simula' %}
                                            {% if tipo_commissione == 'P' %}
                                        <option value="P" selected>Percentuale</option>
                                        <option value="F">Fissa</option>
                                            {% elif tipo_commissione == 'F' %}
                                        <option value="P">Percentuale</option>
                                        <option value="F" selected>Fissa</option>
                                            {% endif %}
                                        {% else %}
                                        <option value="P">Percentuale</option>
                                        <option value="F">Fissa</option>
                                        {% endif %}
                                    </select>
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_importo">
                                        Importo commissioni
                                    <input type="number" class="form-control" name="commissioni_importo" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.commissione }}" {% else %}value="0.0019"{% endif %}value="0.0019"  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_min">
                                        Commissioni min
                                    <input type="number" class="form-control" name="commissioni_min" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.min_commissione }}" {% else %}value="1"{% endif %}value="1"  step="0.0001">
                                    </label>
                                </div>
                                <div class="col-md-3 form-group-sm">
                                    <label for="commissioni_max">
                                        Commissioni max
                                    <input type="number" class="form-control" name="commissioni_max" required {% if bottone == 'crea' or bottone == 'simula' %}value="{{ primo_tappeto.max_commissione }}" {% else %}value="18"{% endif %}value="18"  step="0.0001">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-default" name="bottone" value="crea">
                                    Crea tappeto
                                    </button>
                                </div>
                                {% if bottone == 'crea' and tipo_take == 'take_variabile' %}
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-default" name="bottone" value="simula">
                                    Simula
                                    </button>
                                </div>
                                {% endif %}
                                <div class="col-md-3">
                                </div>
                            </div>
                        </form>
                        {% else %}
                         <div class="row">
                             <div class="col-md-12 form-group-sm">
                                 <br/>
                                 <p>Non hai i permessi per eseguire simulazioni con parametri variabili. Contatta gli sviluppatori per richiedere l'accesso.</p>
                            </div>
                         </div>
                        {% endif %}
                        {% else %}
                        <div class="row">
                            <div class="col-md-12 form-group-sm">
                                <br/>
                                <p>Non sei loggato. Loggati o registrati per poter effettuare simulazioni con parametri variabili.</p>
                            </div>
                         </div>
                        {% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			{% if bottone == 'crea' %}
            <table class="table table-condensed table-bordered table-hover stripe" id="tabella_tappeto" style="font-size: 10px; text-align: center">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Stato
						</th>
						<th>
							Prezzo&#13;&#10;acquisto
						</th>
						<th>
							Prezzo&#13;&#10;vendita
						</th>
                        <th>
							Quantità&#13;&#10;acquisto
						</th>
                        <th>
							Quantità&#13;&#10;vendita
						</th>
                        <th>
							In carico
						</th>
					</tr>
				</thead>
				<tbody>
					{% for pacco in primo_tappeto.pacchi %}
                    <tr>
						<td>
                            {{ forloop.counter }}
						</td>
						<td>
							{{ pacco.order_type }}
						</td>
						<td>
							{{ pacco.buy_price }}
						</td>
						<td>
							{{ pacco.sell_price }}
						</td>
                        <td>
							{{ pacco.quantity_buy }}
						</td>
                        <td>
							{{ pacco.quantity_sell }}
						</td>
                        <td>
							{% if pacco.carica == 1 %}
							    SI
                            {% else %}
                                NO
							{% endif %}
						</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
            {% elif bottone == 'simula' %}
            <h3 class="text-center">
				Risultato simulazioni per {{ isin }}&#13;&#10;Data inizio: {{ data_inizio }} - Data fine: {{ data_fine }}
			</h3>
            <table class="table table-condensed table-bordered table-hover stripe" id="tabella_risultato_simulazione" style="font-size: 12px; text-align: center">
				<thead>
					<tr>
						<th style="padding: 5px 5px; vertical-align: middle">
							Inizio
						</th>
						<th style="padding: 5px 5px; vertical-align: middle">
							Fine
						</th>
						<th style="padding: 5px 5px; vertical-align: middle">
							Primo<br/>acquisto
						</th>
						<th style="padding: 5px 5px; vertical-align: middle">
							Step
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Take
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Quantità<br/>acquisto
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Quantità<br/>vendita
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Acquisti
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Vendite
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Gain
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Commissioni
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Profitto
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
							Rendimento
						</th>
                        <th style="padding: 5px 5px; vertical-align: middle">
                            Valore<br/>massimo
                        </th>
					</tr>
				</thead>
				<tbody>
					{% for Tappeto in tappeto %}
                    <tr>
						<td style="padding: 5px 5px">
							{{ Tappeto.limite_inferiore }}
						</td>
						<td style="padding: 5px 5px">
							{{ Tappeto.limite_superiore }}
						</td>
						<td style="padding: 5px 5px">
							{{ Tappeto.primo_acquisto }}
						</td>
						<td style="padding: 5px 5px">
							{{ Tappeto.step }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.take }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.quantita_acquisto }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.quantita_vendita }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.nr_acquisti }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.nr_vendite }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.gain }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.commissioni }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.profitto }}
						</td>
                        <td style="padding: 5px 5px">
							{{ Tappeto.rendimento }}%
						</td>
                        <td style="padding: 5px 5px">
                            {{ Tappeto.valore_max }}
                        </td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
            {% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="progress progress-striped active">
				<div class="progress-bar progress-success">
				</div>
			</div>
		</div>
	</div>
	<div class="row" {{ mostra_risultati }}>
		<div class="col-md-4">
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<p>
				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
			</p>
		</div>
		<div class="col-md-8">
			<h3 class="text-center">
				Risultato simulazioni per {{ isin }}&#13;&#10;Data inizio: {{ data_inizio }} - Data fine: {{ data_fine }}
			</h3>
			<table class="table table-condensed table-bordered table-hover stripe" id="tabella_risultato_simulazione">
				<thead>
					<tr>
						<th>
							Inizio
						</th>
						<th>
							Fine
						</th>
						<th>
							Primo&#13;&#10;acquisto
						</th>
						<th>
							Step
						</th>
                        <th>
							Take
						</th>
                        <th>
							Quantità&#13;&#10;acquisto
						</th>
                        <th>
							Quantità&#13;&#10;vendita
						</th>
                        <th>
							Acquisti
						</th>
                        <th>
							Vendite
						</th>
                        <th>
							Gain
						</th>
                        <th>
							Commissioni
						</th>
                        <th>
							Profitto
						</th>
                        <th>
							Rendimento
						</th>
					</tr>
				</thead>
				<tbody>
					{% for Tappeto in tappeto %}
                    <tr>
						<td>
							{{ Tappeto.limite_inferiore }}
						</td>
						<td>
							{{ Tappeto.limite_superiore }}
						</td>
						<td>
							{{ Tappeto.primo_acquisto }}
						</td>
						<td>
							{{ Tappeto.step }}
						</td>
                        <td>
							{{ Tappeto.take }}
						</td>
                        <td>
							{{ Tappeto.quantita_acquisto }}
						</td>
                        <td>
							{{ Tappeto.quantita_vendita }}
						</td>
                        <td>
							{{ Tappeto.nr_acquisti }}
						</td>
                        <td>
							{{ Tappeto.nr_vendite }}
						</td>
                        <td>
							{{ Tappeto.gain }}
						</td>
                        <td>
							{{ Tappeto.commissioni }}
						</td>
                        <td>
							{{ Tappeto.profitto }}
						</td>
                        <td>
							Default
						</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" {% if bottone != 'simula' %} hidden {% endif %}>
		<div class="col-md-9">
			<h3 class="text-center">
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<table class="table table-condensed table-hover stripe" style="font-size: 10px; text-align: center">
				<thead>
					<tr>
						<th>
							Data
						</th>
						<th>
							Ora
						</th>
						<th>
							Pacco
						</th>
                        <th>
							Operazione
						</th>
						<th>
							Prezzo
						</th>
                        <th>
							Quantità
						</th>
                        <th>
							Gain
						</th>
                        <th>
							Commissioni
						</th>
                        <th>
							Profitto
						</th>
					</tr>
				</thead>
				<tbody>
					{% for item in primo_tappeto.operazioni %}
                    <tr>
						<td>
							{{ item.data }}
						</td>
						<td>
							{{ item.ora }}
						</td>
						<td>
							{{ item.prezzo_teorico }}
						</td>
						<td>
							{{ item.tipo }}
						</td>
                        <td>
							{{ item.prezzo }}
						</td>
                        <td>
							{{ item.quantita }}
						</td>
                        <td>
							{{ item.gain }}
						</td>
                        <td>
							{{ item.commissioni }}
						</td>
                        <td>
							{{ item.profitto }}
						</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
			<button type="button" class="btn btn-default">
				Default
			</button>
		</div>
		<div class="col-md-3">
			<h3 class="text-center">
				h3. Lorem ipsum dolor sit amet.
			</h3>
			{% if take_array_size > 1 %}
            <table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>
							Data
						</th>
						<th>
							Miglior take
						</th>
					</tr>
				</thead>
				<tbody>
					{% for item in take_array %}
                    <tr>
						<td>
							1
						</td>
						<td>
							{{ item }}
						</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
            {% endif %}
		</div>
	</div>
    <script type="text/javascript">

   $(document).ready(function() {
   $('#take_singolo').formValidation({
        // I am validating Bootstrap form
        framework: 'bootstrap',

        // Feedback icons
        icon: {
            valid: 'checkmark icon',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },

        // List of fields and their validation rules
        fields: {
            crea_data_fine: {
                validators: {
                    date: {
                        format: 'YYYY-MM-DD',
                        min: 'crea_data_inizio',
                        message: 'La data fine deve essere maggiore della data inizio'
                    }
                }
            },
            crea_quantita_acquisto: {
                validators: {
                    between: {
                        min: 1,
                        message: 'La quantità in acquisto deve essere almeno uno'
                    }
                }
            },
            crea_quantita_vendita: {
                validators: {
                    between: {
                        min: 1,
                        message: 'La quantità in vendita deve essere almeno uno'
                    }
                }
            },
            crea_primo_acquisto: {
                validators: {
                    between: {
                        min: 'crea_limite_inferiore',
                        max: 'crea_limite_superiore',
                        message: 'Il primo acquisto deve essere tra il limite inferiore e superiore'
                    }
                }
            }
        }
   });
   $('#take_variabile').formValidation({
        // I am validating Bootstrap form
        framework: 'bootstrap',

        // Feedback icons
        icon: {
            valid: 'checkmark icon',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        live: 'submitted',
        // List of fields and their validation rules
        fields: {
            crea_data_fine: {
                validators: {
                    date: {
                        format: 'YYYY-MM-DD',
                        min: 'crea_data_inizio',
                        message: 'La data fine deve essere maggiore della data inizio'
                    }
                }
            },
            crea_quantita_acquisto: {
                validators: {
                    between: {
                        min: 1,
                        message: 'La quantità in acquisto deve essere almeno uno'
                    }
                }
            },
            crea_quantita_vendita: {
                validators: {
                    between: {
                        min: 1,
                        message: 'La quantità in vendita deve essere almeno uno'
                    }
                }
            },
            crea_primo_acquisto: {
                validators: {
                    between: {
                        min: 'crea_limite_inferiore',
                        max: 'crea_limite_superiore',
                        message: 'Il primo acquisto deve essere tra il limite inferiore e superiore'
                    }
                }
            },
            take_fine: {
                verbose: false,
                validators: {
                    greaterThan: {
                        value: 'take_inizio',
                        message: 'Il take finale deve essere maggiore del take iniziale'
                    },
                    callback: {
                            message: 'Puoi simulare al massimo 50 tappeti. Modifica i take iniziale e finale o l\'incremento',
                            callback: function (value, validator, $field) {
                                var take_inizio = validator.getFieldElements('take_inizio').val();
                                var take_fine = validator.getFieldElements('take_fine').val();
                                var take_incremento = validator.getFieldElements('take_incremento').val();
                                var numero_tappeti = (take_fine - take_inizio) / take_incremento

                                if (numero_tappeti > 50) {
                                    return false;
                                }
                                validator.updateStatus('take_fine', 'VALID', 'callback');
                                //str = JSON.stringify(numero_tappeti);
                                //str = JSON.stringify(take_fine, null, 4); // (Optional) beautiful indented output.
                                //console.log(str); // Logs output to dev tools console.
                                //alert(str); // Displays output using window.alert()

                                return true;
                            }
                        }
                    }
            }
        }
    });
   });

</script>
{% endblock %}