{% extends 'base.html' %}
{% block title %}Simulatore{% endblock %}
{% block nav_class_home %}active{% endblock %}
{% block nav_class_simulatore %}inactive{% endblock %}
<!--{% block nav_class_carma %}inactive{% endblock %}-->
{% block intestazione %}
<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Benvenuto su MyCarMa!
				</h2>
				<div>
					<span>Siamo un gruppo di sviluppatori che hanno creato vari software per ottimizzare e automatizzare il trading online.</span>
				</div>
				<div>
					<span>Ad oggi è disponibile online il Simulatore Tappeto che ti permette di analizzare il rendimento e la performance di un tappeto nel passato, simulando in maniera precisa ogni singolo acquisto e vendita.</span>
				</div>

				<p>
					<a class="btn btn-primary btn-large" href="simulatore/">Scopri il simulatore!</a>
				</p>
			</div>
		</div>
</div>
{% endblock %}