{% extends 'base.html' %}
{% block title %}Simulatore{% endblock %}
{% block nav_class_home %}inactive{% endblock %}
{% block nav_class_simulatore %}inactive{% endblock %}
{% block nav_class_carma %}active{% endblock %}
{% block intestazione %}
<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					CarMa - Gestione ed esecuzione automatica del tappeto
				</h2>
				<div>
					<span>CarMa ti permette di gestire il tappeto in maniera automatica.</span>
				</div>
				<!--
                <p>
					<a class="btn btn-primary btn-large" href="simulatore/">Scopri il simulatore!</a>
				</p>
				-->
			</div>
		</div>
</div>
<div class="row">
    <div class="col-md-6">
	    <h2>
		    CarMa Light
        </h2>
		<p>
		    CarMa Light permette di eseguire un solo tappeto e non contiene strumenti avanzati di gestione delle criticità del tappeto.
            La versione Light è quella che viene fornita in prova gratuita per 30 giorni.
        </p>
		<div class="list-group">
		    <a href="#" class="list-group-item active">Download</a>
			{% if user.is_authenticated and perms.simulatore.carma_light %}
            <div class="list-group-item">
                <b>CarMa Light versione 1.06.36 - 41/05/2018</b> <a href="download?file=CARMA_LIGHT_1.06.36.zip&versione=LIGHT" class="btn btn-success btn-sm" type="button">Download</a>
                <p class="list-group-item-text">
				    - corretto bug per verifica licenza nella versione Light
                </p>
            </div>
			<div class="list-group-item">
				<h4 class="list-group-item-heading">
			    	Versioni precedenti
				</h4>
            </div>
            <div class="list-group-item">
                <b>CarMa Light versione 1.06.35 - 01/05/2018</b> <a href="download?file=CARMA_LIGHT_1.06.35.zip&versione=LIGHT" class="btn btn-success btn-sm" type="button">Download</a>
                <p class="list-group-item-text">
				    - corretto bug per gestione giorni di chiusura borsa e AH
                </p>
            </div>
            <div class="list-group-item">
                <b>CarMa Light versione 1.06.33 - 20/12/2017</b> <a href="download?file=CARMA_LIGHT_1.06.33.zip&versione=LIGHT" class="btn btn-success btn-sm" type="button">Download</a>
                <p class="list-group-item-text">
				    - aggiornato calendario borsa 2018.
                </p>
            </div>
            <div class="list-group-item">
                <b>CarMa Light versione 1.06.27 - 30/05/2017</b>
                <p class="list-group-item-text">
				    - risolto un bug nella modifica tappeto manuale. <a href="download?file=CARMA_LIGHT_1.06.27.zip&versione=LIGHT" class="btn btn-success btn-sm" type="button">Download</a>
                </p>
            </div>
            <div class="list-group-item">
                <b>CarMa Light versione 1.06.25 - 19/05/2017</b> <!--<a href="download?file=CARMA_LIGHT_1.06.25.zip&versione=LIGHT" class="btn btn-success btn-sm" type="button">Download</a>-->
                <p class="list-group-item-text">
				    - implementata la gestione dell'after hour. In "modifica tappeto" puoi abilitare l'AH. Carma in automatico si aprirà alle 17:55 e inserirà gli ordini.
                </p>
            </div>
            <div class="list-group-item">
                <b>CarMa Light versione 1.06.21 - 24/02/2017</b> <!--<a href="download?file=CARMA_LIGHT_1.06.21.zip&versione=LIGHT" class="btn btn-success btn-sm" type="button">Download</a>-->
                <p class="list-group-item-text">
				    - rimosse tutte le chiamate al db per leggere il setup. Viene passato come parametro per velocizzare esecuzione
                </p>
            </div>
            {% elif user.is_authenticated and not perms.simulatore.carma_light %}
            <div class="list-group-item">
                <b>Non hai i permessi per scaricare CarMa Light. Contatta gli sviluppatori per ottenere una licenza.</b>
            </div>
            {% else %}
            <div class="list-group-item">
                <b>Effettua il login per poter scaricare Carma Light.</b>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
	    <h2>
		    CarMa Full
        </h2>
		<p>
		    CarMa Full permette di eseguire tappeti multipli contemporaneamente e contiene strumenti avanzati di gestione delle criticità del tappeto, come ad esempio autoaggiustamento e una maggiore velocità di inserimento degli ordini.
        </p>
		<div class="list-group">
		    <a href="#" class="list-group-item active">Download</a>
			{% if user.is_authenticated and perms.simulatore.carma_full %}
            <div class="list-group-item">
                <b>CarMa Full versione 1.07.01 - 07/08/2018</b> <a href="download?file=CARMA_FULL_1.07.01.zip&versione=FULL" class="btn btn-success btn-sm" type="button">Download</a>
                <p class="list-group-item-text">
				    - implementato nuovo avvio Darwin con dGO
                </p>
            </div>
			<div class="list-group-item">
				<h4 class="list-group-item-heading">
			    	Versioni precedenti
				</h4>
            </div>
            <div class="list-group-item">
                <b>CarMa Full versione 1.06.35 - 01/05/2018</b> <a href="download?file=CARMA_FULL_1.06.35.zip&versione=FULL" class="btn btn-success btn-sm" type="button">Download</a>
                <p class="list-group-item-text">
				    - corretto bug per gestione giorni di chiusura borsa e AH
                </p>
            </div>
            <div class="list-group-item">
                <b>CarMa Full versione 1.06.33 - 20/12/2017</b> <a href="download?file=CARMA_FULL_1.06.33.zip&versione=FULL" class="btn btn-success btn-sm" type="button">Download</a>
                <p class="list-group-item-text">
				    - aggiornato calendario borsa 2018
                    - implementata funzione di auto-rollaggio dei futures
                </p>
            </div>
            <div class="list-group-item">
                <b>CarMa Full versione 1.06.27 - 30/05/2017</b> <a href="download?file=CARMA_FULL_1.06.27.zip&versione=FULL" class="btn btn-success btn-sm" type="button">Download</a>
                <p class="list-group-item-text">
				    - risolto un bug nella modifica tappeto manuale.
                </p>
            </div>
            <div class="list-group-item">
                <b>CarMa Full versione 1.06.25 - 19/05/2017</b> <a href="download?file=CARMA_FULL_1.06.25.zip&versione=FULL" class="btn btn-success btn-sm" type="button">Download</a>
                <p class="list-group-item-text">
				    - implementata la gestione dell'after hour. In "modifica tappeto" puoi abilitare l'AH. Carma in automatico si aprirà alle 17:55 e inserirà gli ordini.
                </p>
            </div>
            <div class="list-group-item">
                <b>CarMa Full versione 1.06.21 - 24/02/2017</b> <a href="download?file=CARMA_FULL_1.06.21.zip&versione=FULL" class="btn btn-success btn-sm" type="button">Download</a>
                <p class="list-group-item-text">
				    - rimosse tutte le chiamate al db per leggere il setup. Viene passato come parametro per velocizzare esecuzione
                </p>
                <b>CarMa Full versione 1.06.18 - 20/02/2017</b> <a href="download?file=CARMA_FULL_1.06.18.zip&versione=FULL" class="btn btn-success btn-sm" type="button">Download</a>
                <p class="list-group-item-text">
				    - modificata password di invio email che mancava da aggiornamento precedente
                </p>
            </div>
            {% elif user.is_authenticated and not perms.simulatore.carma_full %}
            <div class="list-group-item">
                <b>Non hai i permessi per scaricare CarMa Full. Contatta gli sviluppatori per ottenere una licenza.</b>
            </div>
            {% else %}
            <div class="list-group-item">
                <b>Effettua il login per poter scaricare Carma Full.</b>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
