{% load staticfiles %}
{% load analytical %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="it">
  <head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CARMA - {% block title %}Trading online automatizzato{% endblock %}</title>

    <meta name="description" content="CARMA - trading online automatizzato">
    <meta name="author" content="LayoutIt!">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- FormValidation CSS file -->
    <link rel="stylesheet" href="{% static 'formvalidation/dist/css/formValidation.min.css' %}">
    <!-- FormValidation plugin and the class supports validating Bootstrap form -->
    <script src="{% static 'formvalidation/dist/js/formValidation.min.js' %}"></script>
    <script src="{% static 'formvalidation/dist/js/framework/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.it.min.js"></script>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">



  {% analytical_head_bottom %}
  </head>
  <body>
  {% analytical_body_top %}
  <script>
  window.take_migliore = "dettagli_simulazione_".concat('{{ best_take }}'.replace(".",""));
  window.take_migliore_operazioni = "dettagli_operazioni_".concat('{{ best_take }}'.replace(".",""));
  window.dettagli_tappeto = "";
  $(document).ready(function() {
    var table = $('#tabella_risultato_simulazione').DataTable({
      "paging": false,
      "searching": false,
      "order": [[ 12, 'desc' ]],
      "info": false
    });
    var table2 = $('#tabella_' + window.take_migliore_operazioni).DataTable({
      "paging": false,
      "searching": false,
      "info": false
    });
      $('#tabella_' + window.take_migliore_operazioni).find('tbody').on('click', 'tr', function () {
        var riga = table2.row(this).data();
        var ora = riga[1].replace(/\./g,"");
        var prezzo = riga[2].substring(2).replace(".","");
        var div1 = "dettagli_tappeto_";
        var div2 = div1.concat(ora);
        div2 = div2.concat("_");
        div2 = div2.concat(prezzo);
        if (window.dettagli_tappeto != "") {
            $('#' + window.dettagli_tappeto).hide();
        }
        $('#' + div2).show();
        window.dettagli_tappeto = div2;
    });
    if ('{{ tipo_take }}' == 'take_variabile') {
        $('#tabella_risultato_simulazione').find('tbody').on('click', 'tr', function () {
            var riga = table.row(this).data();
            var take = riga[4].replace(".", "");
            var div1 = "dettagli_simulazione_";
            var div2 = div1.concat(take.substring(2));
            $('#' + window.take_migliore).hide();
            $('#' + div2).show();
            window.take_migliore = div2;
            var div_operazioni_1 = "dettagli_operazioni_";
            var div_operazioni_2 = div_operazioni_1.concat(take.substring(2));
            $('#' + window.take_migliore_operazioni).hide();
            $('#' + div_operazioni_2).show();
            window.take_migliore_operazioni = div_operazioni_2;

        });
    };
    $('#bottone_guida').on('click', function () {
        $('#guida').show();
    });
    $('#bottone_guida_2').on('click', function () {
        $('#guida').show();
    });
    $('#bottone_guida_chiudi').on('click', function () {
        $('#guida').hide();
    });
    var date_input_singolo_fine_libero=$('input[id="crea_singolo_data_fine_libero"]'); //our date input has the name "date"
    var options_singolo_fine_libero={
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        autoclose: true,
        weekStart: 1,
        todayBtn: "linked",
        language: "it",
        endDate: "today",
        forceParse: false,
    };
    date_input_singolo_fine_libero.datepicker(options_singolo_fine_libero).on('changeDate', function(e) {
        // Set the value for the date input
        $("#selectedDate_fine").val($('input[id="crea_singolo_data_fine_libero"]').datepicker('getFormattedDate'));

        // Revalidate it
        $('#take_singolo').formValidation('revalidateField', 'selectedDate_fine');
    });
    var date_input_singolo_inizio_libero=$('input[id="crea_singolo_data_inizio_libero"]'); //our date input has the name "date"
    var options_singolo_inizio_libero={
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        autoclose: true,
        weekStart: 1,
        todayBtn: "linked",
        language: "it",
        endDate: "today",
        forceParse: false,
    };
    date_input_singolo_inizio_libero.datepicker(options_singolo_inizio_libero).on('changeDate', function(e) {
        // Set the value for the date input
        $("#selectedDate_inizio").val($('input[id="crea_singolo_data_inizio_libero"]').datepicker('getFormattedDate'));
        // Revalidate it
        $('#take_singolo').formValidation('revalidateField', 'selectedDate_inizio');
    });
    var date_input_singolo_fine_limitato=$('input[id="crea_singolo_data_fine_limitato"]'); //our date input has the name "date"
    var options_singolo_fine_limitato={
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        autoclose: true,
        weekStart: 1,
        todayBtn: "linked",
        language: "it",
        startDate: "-15d",
        endDate: "today",
        forceParse: false,
    };
    date_input_singolo_fine_limitato.datepicker(options_singolo_fine_limitato).on('changeDate', function(e) {
        // Set the value for the date input
        $("#selectedDate_fine").val($('input[id="crea_singolo_data_fine_limitato"]').datepicker('getFormattedDate'));

        // Revalidate it
        $('#take_singolo').formValidation('revalidateField', 'selectedDate_fine');
    });
    var date_input_singolo_inizio_limitato=$('input[id="crea_singolo_data_inizio_limitato"]'); //our date input has the name "date"
    var options_singolo_inizio_limitato={
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        autoclose: true,
        weekStart: 1,
        todayBtn: "linked",
        language: "it",
        startDate: "-15d",
        endDate: "today",
        forceParse: false,
    };
    date_input_singolo_inizio_limitato.datepicker(options_singolo_inizio_limitato).on('changeDate', function(e) {
        // Set the value for the date input
        $("#selectedDate_inizio").val($('input[id="crea_singolo_data_inizio_limitato"]').datepicker('getFormattedDate'));

        // Revalidate it
        $('#take_singolo').formValidation('revalidateField', 'selectedDate_inizio');
    });
    $("#take_singolo").submit(function () {
        if (typeof $("#crea_singolo_data_inizio_limitato").val() !== 'undefined') {
            if ($("#crea_singolo_data_inizio_limitato").val() != $("#selectedDate_inizio").val()) {
                $("#selectedDate_inizio").val($("#crea_singolo_data_inizio_limitato").val());
                $('#take_singolo').formValidation('revalidateField', 'selectedDate_inizio');
            }
        }
    });
    var date_input_variabile_fine_libero=$('input[id="crea_variabile_data_fine_libero"]'); //our date input has the name "date"
    var options_variabile_fine_libero={
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        autoclose: true,
        weekStart: 1,
        todayBtn: "linked",
        language: "it",
        endDate: "today",
        forceParse: false,
    };
    date_input_variabile_fine_libero.datepicker(options_variabile_fine_libero).on('changeDate', function(e) {
        // Set the value for the date input
        $("#selectedDate_variabile_fine").val($('input[id="crea_variabile_data_fine_libero"]').datepicker('getFormattedDate'));

        // Revalidate it
        $('#take_variabile').formValidation('revalidateField', 'selectedDate_variabile_fine');
    });
    var date_input_variabile_inizio_libero=$('input[id="crea_variabile_data_inizio_libero"]'); //our date input has the name "date"
    var options_variabile_inizio_libero={
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        autoclose: true,
        weekStart: 1,
        todayBtn: "linked",
        language: "it",
        endDate: "today",
        forceParse: false,
    };
    date_input_variabile_inizio_libero.datepicker(options_variabile_inizio_libero).on('changeDate', function(e) {
        // Set the value for the date input
        $("#selectedDate_variabile_inizio").val($('input[id="crea_variabile_data_inizio_libero"]').datepicker('getFormattedDate'));

        // Revalidate it
        $('#take_variabile').formValidation('revalidateField', 'selectedDate_variabile_inizio');
    });
  });
  </script>
  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="/">MyCarMa</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="{% block nav_class_home %}active{% endblock %}">
							<a href="/">Home</a>
						</li>
						<li class="{% block nav_class_simulatore %}inactive{% endblock %}">
							<a href="/simulatore">Simulatore</a>
						</li>
					    <!--
                        <li class="{% block nav_class_carma %}inactive{% endblock %}">
							<a href="#">CarMa</a>
						</li>-->
                    </ul>
                    <form class="form-inline">
					    <!--<a  href="#" class="btn-blu mrgn-top" data-toggle="modal" data-target="#at-helping">Help</a>-->
                        <ul class="nav navbar-nav navbar-right">
                            {% if not user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                            {% if test %}
                                <li><a href="/test/accounts/login/?next={{request.path}}">Login</a></li>
                            {% else %}
                                <li><a href="/accounts/login/?next={{request.path}}">Login</a></li>
                            {% endif %}
                            <!--<li><a href="#" data-toggle="modal" data-target="#at-login">Login</a></li>
                            <li ><a href="#" data-toggle="modal" data-target="#at-signup">Registrati</a></li>-->
                            {% else %}
                            {% if test %}
                                <li class="inactive"><a href="#">Ciao {{ user.username }}</a></li>
                                <li><a href="/test/accounts/logout/?next={{request.path}}">Logout</a></li>
                            {% else %}
                            <li class="inactive"><a href="#">Ciao {{ user.username }}</a></li>
                            <li><a href="/accounts/logout/?next={{request.path}}">Logout</a></li>
                            <!--<li><a href="#" data-toggle="modal" data-target="#at-logout">Logout</a></li>-->
                            {% endif %}
                            {% endif %}
                        </ul>
					</form>
                    <section class="at-login-form">
                        <!-- MODAL LOGIN -->
                        <div class="modal" id="at-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                                <div class="signup-or-separator">
                                                    <span class="h6 signup-or-separator--text">Accedi</span>
                                                    <hr>
                                                </div>
                                                <form action="{% url 'account_login' %}" method="post">{% csrf_token %}
                                                    <input type="hidden" name="next" value="{{ request.path }}" />
                                                    <div class="form-group">
                                                        <input type="text" class="form-control-form " id="exampleInputEmaillog" placeholder="Nome utente" required name="login">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control-form " id="exampleInputPasswordpas" placeholder="Password" required name="password">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="remember"> Ricordami
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-md-offset-2">
                                                            <p class="frgt-pswd"   data-toggle="modal" data-dismiss="modal"  data-target="#at-reset-pswd">Password dimenticata?</p>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn-lgin">Login</button>
                                                </form>
                                    </div>
                                    <div class="modal-footer">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p class="ta-l">Non hai un account?</p>
                                                </div>
                                                <div class="col-md-4 col-md-offset-2">
                                                    <button class="btn-gst"  data-toggle="modal"  data-dismiss="modal" data-target="#at-signup" >Registrati</button>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MODAL LOGIN ENDS -->
                        <!-- MODAL LOGOUT -->
                        <div class="modal fade" id="at-logout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                                <div class="signup-or-separator">
                                                    <span class="h6 signup-or-separator--text">Conferma il logout</span>
                                                    <hr>
                                                </div>
                                                <form action="{% url 'account_logout' %}" method="post">{% csrf_token %}
                                                    <input type="hidden" name="next" value="{{ request.path }}" />
                                                <button type="submit" class="btn-lgin">Logout</button> <hr>
                                                </form>
                                    </div>
                                    <div class="modal-footer">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p class="ta-l">Sei già registrato?</p>
                                                </div>
                                                <div class="col-md-4 col-md-offset-2">
                                                    <button class="btn-gst"  data-toggle="modal"  data-dismiss="modal" data-target="#at-login">Login</button>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- MODAL SIGNUP -->
                        <div class="modal fade" id="at-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                                <div class="signup-or-separator">
                                                    <span class="h6 signup-or-separator--text">Registrati</span>
                                                    <hr>
                                                </div>
                                                <p></p>
                                                <p style="text-align: center">Per registrarti contatta gli sviluppatori CARMA sul forum <a target="_blank" href="http://www.finanzapertutti.com">www.finanzapertutti.com</a></p>
                                                <!--<button type="submit" class="btn-lgin" data-toggle="modal"  data-dismiss="modal" data-target="#at-signup-filling">Registrati con e-mail</button> <hr>-->
                                    </div>
                                    <div class="modal-footer">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p class="ta-l">Sei già registrato?</p>
                                                </div>
                                                <div class="col-md-4 col-md-offset-2">
                                                    <button class="btn-gst"  data-toggle="modal"  data-dismiss="modal" data-target="#at-login">Login</button>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- MODAL SIGNUP FORM FILLING -->
                        <div class="modal fade" id="at-signup-filling" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="signup-or-separator">
                                            <span class="h6 signup-or-separator--text">Registrati</span>
                                            <hr>
                                        </div>
                                        <form class="signup" action="{% url 'account_signup' %}" method="post" id="signup_form">{% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}" />
                                            <div class="form-group">
                                                <input type="text" class="form-control-form " id="exampleInputUsernamelog" placeholder="Username" required name="username">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control-form " id="exampleInputEmaillog" placeholder="Email" required name="email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control-form " id="password1" placeholder="Password" required name="password1">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control-form " id="password2" placeholder="Password" required name="password2">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>By signing up, I agree to Airbnb’s , Payments <a href="#">Terms of Service</a>, <a href="#">Privacy Policy</a>, <a href="#">Guest Refund Policy</a>, and <a href="#">Host Guarantee Terms</a>. </p>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn-lgin">Registrati</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="ta-l">Sei già registrato?</p>
                                            </div>
                                            <div class="col-md-4 col-md-offset-2">
                                                <button class="btn-gst"  data-toggle="modal"  data-dismiss="modal" data-target="#at-login">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MODAL SIGNUP FORM FILLING -->
                        <!-- MODAL FORGOT PASSWORD -->
                        <div class="modal fade" id="at-reset-pswd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <p>	Inseriscri l'e-mail associata al tuo account e ti invieremo per posta un link per cambiare la password. </p>
                                            <div class="form-group">

                                                <input type="email" class="form-control-form " id="exampleInputEmaillog" placeholder="Email" required>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MODAL HELP -->
                        <div class="modal fade" id="at-helping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control-form " id="exampleInputEmaillog" placeholder="Enter Your Searches ">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">
                                            <button class="btn-gst"  data-toggle="modal"  data-dismiss="modal" >Send areset Link</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
			</nav>
            {% block messages %}
            {% if messages %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <ul class="messagelist">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4"></div>
            </div>
            {% endif %}
            {% endblock messages %}
            {% block intestazione %}
            <h3 class="text-center">
				Simulatore Tappeto
			</h3>
			<p class="text-center">
				Il Simulatore Tappeto ti permette di applicare un qualunque tappeto al passato e analizzare quali sarebbero state le performance. Nella versione gratuita puoi simulare solo gli ultimi 15 giorni di borsa e con take fisso. <br />Nella versione full invece puoi simulare utilizzando dati a partire dal 2012 e con <strong>take variabile</strong>, ovvero il Simulatore si occuperà di <strong>trovare il take migliore per il tuo tappeto.</strong>. Per avere maggiori informazioni sulla versione full contatta gli sviluppatori.
			</p>
            {% endblock %}
		</div>
	</div>
    {% block corpo_centrale %}{% endblock %}
  </div>
  {% analytical_body_bottom %}
  </body>
  <footer>
      <p style="text-align: center">Tutti i contenuti sono protetti da copyright. MyCarma 2016. Versione {{ version }}</p>
  </footer>
</html>